* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}
header{
    background-color: #fff;
    position: relative;
    nav{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 15;
        background-color: #fff;
        .container{
            max-width: 1248px;
            padding: 0 20px;
            margin: 0 auto;
            // border: 1px solid red;
            .content{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                flex-wrap: wrap;
                padding: 20px;
                .content-item1{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 24px;
                    .content-item2{
                        display: flex;
                        align-items: center;
                        gap: 18px;
                        padding: 8px 18px;
                        border-radius: 4px;
                        background: var(--main-secondary, #70C05B);
                        .content-span1{
                            font-family: Rubik;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                            color: #fff;
                        }
                    }
                    .content-item3{
                        display: flex;
                        align-items: center;
                        border-radius: 4px;
                        gap: 80px;
                        border: 1px solid var(--main-secondary, #70C05B);
                        background: var(--main-surface, #FFF);
                        padding: 8px;
                        .content-input1{
                            font-family: Rubik;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                            color: var(--grayscale-hard, #8F8F8F);
                            border: none;
                            outline: none;
                        }
                    }
                }
                .content-item4{
                    display: flex;
                    align-items: center;
                    gap: 24px;
                    .conten-item5{
                        .content-img1{
                            margin-left: 8px;
                            padding-bottom: 8px;
                        }
                        .content-h6{
                            font-family: Rubik;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                            color: var(--main-on-surface, #414141);
                            text-align: center;                            
                        }
                    }
                    .content-item6{
                        display: flex;
                        align-items: center;
                        gap: 36px;
                        .content-item7{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            .content-spam2{
                                font-family: Rubik;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%; 
                            }
                        }
                    }
                }
            }
        }
    }
}
main{
    .section1{
        // background-image: url("../../image/redax23.png");
        // padding: 75px;
        background-repeat: no-repeat;
        background-size: cover;
        .container{
            max-width: 1248px;
            padding: 0 20px;
            margin: 0 auto;
            // border: 1px solid red;
            background-image: url("../../image/redax23.png");
              .deliver__container{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 18px;
                flex-wrap: wrap;
                padding-top: 105px;
                .first-img1{
                    max-width: 303px;
                    width: 100%;
                }
                .first-h5{
                    font-family: Rubik;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                    color: var(--main-on-surface, #414141);
                    text-align: center;

                }
              }
        }
    }
    .section2 { 
        // background-color: var(--main-bg-page, #FBF8EC);
        .container{
            max-width: 1248px;
            padding: 0 20px;
            margin: 0 auto;
            background-color: var(--main-bg-page, #FBF8EC);
            // border: 1px solid red;
            .second {
                padding: 80px 0 120px 0;
              .second-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 25px;
                padding-bottom: 40px;
                .second-h3{
                    color: var(--main-on-surface, #414141);
                    font-family: Rubik;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                    
                }
                .second-a {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    text-decoration: none;
                    .second-span1 {
                        color: var(--grayscale-hardest, #606060);
                        text-align: center;
                        font-family: Rubik;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        
                    }
                    
                }
                
              } 
              .second3{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 30px;
                flex-wrap: wrap;
                 .second-content4{
                    background-color: #fff;
                    width: 272px;
                    border-radius: 4px;
                    background: var(--main-surface, #FFF);
                    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.10);
                    .second5 {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        // gap: 126px;
                        padding: 4px;
                       .second6{
                           .second-item1{
                            color: var(--main-on-surface, #414141);
                            font-family: Rubik;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 150%;
                        }
                        .secont7{
                            color: var(--grayscale-light, #BFBFBF);
                            font-family: Rubik;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                        }
                        .second8{
                            color: var(--grayscale-hardest, #606060);
                            font-family: Rubik;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; 
                        }
                      } 
                       }
                       .second10{
                        color: var(--main-on-surface, #414141);
                        font-family: Rubik;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%; 
                        // padding-bottom: 8px;
                        margin: 8px;
                       }
                       .second11{
                        padding: 4px;
                       }
                       .second-btn{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 8px;
                       
                        .second2-btn{
                            color: var(--main-secondary, #70C05B);
                            text-align: center;
                            font-family: Rubik;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%;
                            padding: 6px 90px;
                            background-color: #fff;
                            border-radius: 4px;
                            background: var(--main-surface, #FFF);
                            box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.10);
                            border: 1px solid  #70C05B;
                            cursor: pointer;
                            transition: 0.5s;
                            &:hover{
                                color: #fff;
                                background: var(--main-primary, #F63);
                            }
                        }
                       }
                       
                 }
              }
             
            }
        }
    }
    .section-1{
       
        .container{
            background-color: var(--main-bg-page, #FBF8EC);
            max-width: 1248px;
            padding: 0 20px;
            margin: 0 auto;
            // border: 1px solid red;
            padding-top: 100px;
            .second-bro2{
              display: flex;
              align-items: center;
              border-radius: 4px;
              background: var(--main-secondary-muted, #E5FFDE);
              box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.50);
              width: 568px;
              height: 200px;
              padding: 20px;
              list-style-type: none;
              transition: 0.5s;
              &:hover{
                background: var(--main-primary-muted, #FCD5BA);
              }
             
              
            }
            .second-bro3{
                color: var(--main-on-surface, #414141);
                font-family: Rubik;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                padding-bottom: 40px; 
                
                
              }
            
              .second-bro4{
            
                color: var(--main-on-surface, #414141);
                font-family: Rubik;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                flex-wrap: wrap;
              }
              .p1 {
                color: var(--main-on-surface, #414141);
                font-family: Rubik;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; 
                
              }
              .second-bro5{
                display: flex;
                align-items: center;
                gap: 50px;
              }
              .severyan{
                margin-left: 51px;
              }
             
        }
    }
     .section-assn{
       
        .container{
            background-color: var(--main-bg-page, #FBF8EC);
            max-width: 1248px;
            padding: 0 20px;
            margin: 0 auto;
            // border: 1px solid red;
            padding-top: 120px;
           
        }
          .polo-assn2{
            // display: flex;
            // width: 86px;
            // height: 32px;
            // padding: 8px;
            // justify-content: center;
            // align-items: center;
            // gap: 8px;
             
        
          }
          button {
            display: flex;
            width: 97px;
            height: 32px;
            padding: 20px 30px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border: none;
            border-radius: 4px;
            transition: 0.5s;
            cursor: pointer;
            &:hover{
                background: var(--main-secondary, #70C05B);
            }
        
          }
          .polo-assn2{
            display: flex;
            align-items: center;
            gap: 24px;
            padding: 8px;
            padding-bottom: 24px;
           
          }
          .versace-assn{
            color: var(--main-on-surface, #414141);
            font-family: Rubik;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; 
            padding-bottom: 40px;
          }
     }
      .section-bro1{
        //  background-color: #fff;
        
        .container{
            max-width: 1248px;
            padding: 0 20px;
            margin: 0 auto;
            // border: 1px solid red;
            background-color: var(--main-bg-page, #FBF8EC);
            .p-2{
                color: var(--grayscale-hard, #8F8F8F);
                font-family: Rubik;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
               

            }
            .polo-bro3{
                color: var(--main-on-surface, #252525);
                padding-bottom: 10px;
                font-family: Rubik;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
            }
            .polo-bro4{
                color: var(--main-on-surface, #414141);
                font-family: Rubik;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; 
            }
           button {
            color: var(--main-secondary, #70C05B);
            display: flex;
            width: 150px;
            padding: 8px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border: none;
            border-radius: 8px;
            background-color: #E5FFDE;
            transition: 0.5s;
            padding: 8px 16px;
            &:hover{
                color: #fff;
                background: var(--main-secondary, #70C05B);

            }
           
           
           }
           .polo-bro6{
            color: var(--main-on-surface, #414141);
            font-family: Rubik;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; 
            padding-top: 120px;
            padding-bottom: 40px;
        }
        .polo-bro7{

            background-color: #fff;
            width: 376px;
            border-radius: 4px;
            background: var(--main-surface, #FFF);
            box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.10);
           
        }
        .polo-bro8{
            
            padding: 10px;
        }
        img {
            width: 100%;
           
        }
           .polo-bro9{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 123px;
           } 
        }
      }
}
.footer{
    background-color: var(--main-bg-page, #FBF8EC);
    .container{
       
            max-width: 1248px;
            padding: 0 20px;
            margin: 0 auto;
            // border: 1px solid red; 
            background: url(../../image/bg-12.png);
           
            .foot {
                display: flex;
                align-items: center;
               justify-content: space-between;
               flex-wrap: wrap;
            //    margin-top: 104px;
               margin-bottom: 20px;
              padding-top: 40px;
               margin-left: 115px;
              
               
            }
            .polo-ake2{
                gap: 55px;
                display: flex;
                justify-content: space-between;
                // align-items: center;
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 20px;
                
                }
               }
               .polo-ake6{
                display: flex;
               }
              
               .polo-ake3{
                color: var(--main-on-surface, #414141);
                font-family: Rubik;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; 
                cursor: pointer;
                list-style-type: none;
                gap: 40px;
               }
               .polo-ake14{
                list-style-type: none;
               }
               .polo-ake16{
                display: flex;
                justify-content: end;
                margin-top: 30px;
               }
                .polo-aka2{
                 margin-bottom: 50px;
                
                }
              
    }
}

